# Task 1: Small case scenario of dataset analysis

## 1.1 - Create a dataset (The Tate Collection)
As a first example, we will create our own small dataset. In particular, the dataset will consist of 10 artists which are present in the Tate Collection along with the corresponding year of birth, year of death, biological gender and number of artworks.

|          Name         | Gender |   Year_Birth  |   Year_Death  | N_works |
|-----------------------|--------|---------------|---------------|---------|
|     Beuys, Joseph     |  Male  |      1921	 |      1986     |   588   |
|    Constable, John    |  Male  |      1776	 |      1837	 |   249   |
|   Daniell, William    |  Male  |      1769	 |      1837	 |   612   |
|   Forbes, Elizabeth   | Female |      1859	 |      1912	 |   120   |
|     Flaxman, John     |  Male  |      1755	 |      1826	 |   287   |
|    Phillips, Thomas   |  Male  |      1770	 |      1845	 |   274   |
| Paolozzi, Sir Eduardo |  Male  |      1924	 |      2005	 |   385   |
|     Schendel, Mira    | Female |      1919	 |      1988	 |    3    |
|    Turner, William    |  Male  |      1775	 |      1851	 |  1861   |
|      Warhol, Andy     |  Male  |      1928	 |      1987	 |   272   |

**_[TO DO]_**: Let's create a DataFrame named **TateDataset** with the information showed in the above table.

**Note:** You can create arrays for each column and then build the DataFrame.
Remember to import the required libraries!

In [1]:
# @title Imports
import numpy as np
import pandas as pd

In [2]:
### TODO
name = ['Beuys, Joseph', 'Constable, John', 'Daniell, William', 'Forbes, Elizabeth', 'Flaxman, John', 'Phillips, Thomas','Paolozzi, Sir Eduardo', 'Schendel, Mira', 'Turner, William', 'Warhol, Andy']

gender = ['Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male']
year_birth = np.array([1921, 1776, 1769, 1859, 1755, 1770, 1924, 1919, 1775, 1928], dtype=np.int64)
year_death = np.array([1986, 1837, 1837, 1912, 1826, 1845, 2005, 1988, 1851, 1987], dtype=np.int64)
n_works = np.array([588, 249, 612, 120, 287, 274, 385, 3, 1861, 272], dtype=np.int64)

columns = ['Name', 'Gender', 'Year_Birth', 'Year_Death', 'N_works']

tate_dataset = pd.DataFrame(data = {'Name': name, 'Gender': gender, 'Year_Birth': year_birth, 'Year_Death': year_death, 'N_works': n_works})
print(tate_dataset)

                    Name  Gender  Year_Birth  Year_Death  N_works
0          Beuys, Joseph    Male        1921        1986      588
1        Constable, John    Male        1776        1837      249
2       Daniell, William    Male        1769        1837      612
3      Forbes, Elizabeth  Female        1859        1912      120
4          Flaxman, John    Male        1755        1826      287
5       Phillips, Thomas    Male        1770        1845      274
6  Paolozzi, Sir Eduardo    Male        1924        2005      385
7         Schendel, Mira  Female        1919        1988        3
8        Turner, William    Male        1775        1851     1861
9           Warhol, Andy    Male        1928        1987      272

## 1.2 - Data Acquisition (local file)

Data acquisition is a process of loading and reading data from various sources. We will learn how to export and read data from a local file in different format using  **Pandas** package. 

A file format is a standardised way in which information is encoded to be stored in a file. Some examples of file formats are: CSV, XLSX, and PKL. 

Let's practice with some examples.

###Â .CSV - Comma Separated Values

CSV is one of the most popular spreadsheet file format. In this kind of file, data is stored in cells. Each cell is organized in rows and columns. A column in the spreadsheet file can have different types. 

Let us look at how to create a CSV file. We can export a DataFrame with the Pandas function `to_csv()`. The file will be saved in the same location of this notebook unless specified otherwise. We can name the file **TateData.csv**.

**Note:** Once you have run the following cell, check the output file .

In [3]:
tate_dataset.to_csv('tate_dataset.csv', index=False, header=True)

To pull in the csv file, we will use the Pandas function `read_csv()`. We will import the previous file in a new DataFrame.

**Note:**  Depending on where you save your notebooks, you may need to modify the location below.

In [4]:
tate_1 = pd.read_csv('tate_dataset.csv')
tate_1

                    Name  Gender  Year_Birth  Year_Death  N_works
0          Beuys, Joseph    Male        1921        1986      588
1        Constable, John    Male        1776        1837      249
2       Daniell, William    Male        1769        1837      612
3      Forbes, Elizabeth  Female        1859        1912      120
4          Flaxman, John    Male        1755        1826      287
5       Phillips, Thomas    Male        1770        1845      274
6  Paolozzi, Sir Eduardo    Male        1924        2005      385
7         Schendel, Mira  Female        1919        1988        3
8        Turner, William    Male        1775        1851     1861
9           Warhol, Andy    Male        1928        1987      272

When we create the .CSV file, the only parameter we have used is **index**. 

**[TO DO]** What happens if we set the *index* parameter to True? And if you set also the parameter **header** to False?
Try by yourself.

In [5]:
### TODO
tate_dataset.to_csv('tate_dataset.csv', index=True, header=False)
tate_1 = pd.read_csv('tate_dataset.csv')
tate_1

   0          Beuys, Joseph    Male  1921  1986   588
0  1        Constable, John    Male  1776  1837   249
1  2       Daniell, William    Male  1769  1837   612
2  3      Forbes, Elizabeth  Female  1859  1912   120
3  4          Flaxman, John    Male  1755  1826   287
4  5       Phillips, Thomas    Male  1770  1845   274
5  6  Paolozzi, Sir Eduardo    Male  1924  2005   385
6  7         Schendel, Mira  Female  1919  1988     3
7  8        Turner, William    Male  1775  1851  1861
8  9           Warhol, Andy    Male  1928  1987   272

## TODO Solution
index = true returns row names, and header = false drops the header labels.

Delete the csv file now that we are done using it.

### pickle â Python object serialization

This data format is Python-specific. This has the advantage that there are no restrictions imposed by external standards; however it means that non-Python programs may not be able to reconstruct pickled Python objects.

In [6]:
import pickle

tate_dataset.to_pickle('tate_dataset.pkl')

In [7]:
tate_2 = pd.read_pickle('tate_dataset.pkl')
tate_2

                    Name  Gender  Year_Birth  Year_Death  N_works
0          Beuys, Joseph    Male        1921        1986      588
1        Constable, John    Male        1776        1837      249
2       Daniell, William    Male        1769        1837      612
3      Forbes, Elizabeth  Female        1859        1912      120
4          Flaxman, John    Male        1755        1826      287
5       Phillips, Thomas    Male        1770        1845      274
6  Paolozzi, Sir Eduardo    Male        1924        2005      385
7         Schendel, Mira  Female        1919        1988        3
8        Turner, William    Male        1775        1851     1861
9           Warhol, Andy    Male        1928        1987      272

## 1.3 - Look at the data

Now we will simply have a look at the data and make sure it is clean. 

### Data type
Let's check the data type of the imported variables and the original DataFrame.

In [8]:
# Check data type of the columns for Tate_1
tate_1.dtypes

0                 int64
Beuys, Joseph    object
Male             object
1921              int64
1986              int64
588               int64
dtype: object

In [9]:
# Check data type of the columns for TateDataset
tate_dataset.dtypes

Name          object
Gender        object
Year_Birth     int64
Year_Death     int64
N_works        int64
dtype: object

We can also display the values of a single column and check their data type as follow:

In [10]:
tate_dataset['Gender']

0      Male
1      Male
2      Male
3    Female
4      Male
5      Male
6      Male
7    Female
8      Male
9      Male
Name: Gender, dtype: object

# Task 2: Application Programming Interfaces (APIs)

## 2.1 - Downloading climate data from the Internet

We will now explore real world data, namely a dataset of climate information of 5 cities in Denmark between 1980-2018. The original raw-data was originally obtained from [National Climatic Data Center (NCDC)](https://www7.ncdc.noaa.gov/CDO/cdoselect.cmd).

In particular, the selected cities in Denmark are:
- Aalborg, 
- Aarhus, 
- Esbjerg, 
- Odense. 
- Roskilde

In the following, we will download the dataset using an API instead of loading a local source file.

### What is an API? 
Application Programming Interface (API) is a communication protocol between the user and the server (i.e., web server) that enables transmittion of data. The user making a request to an API server can download the desidered resources. 

### How to make a request in python?
There are many different way to request data. 
In the following, we will use the package **urllib** that collects several modules for working with URLs.

In particular, [urlib.request](https://docs.python.org/3/library/urllib.request.html#module-urllib.request) is a module for opening and reading URLs.

### - Download climate data


The following functions allow to download and store the dataset in a specific folder.

How to use:

- Set the source (i.e., URL) of the desidered dataset in `data_url`.
- Set the `data_dir` variable with the local directory where to store the data.
- Call `download_and_extract()` to download the dataset if it is not already located in the given data_dir.
- Load the data in the interactive Python notebook so ic can be used in your scripts (you can use `load_original_data()`).

In [11]:
#@title Functions to download data 
########################################################################
#
# This file is a partially modified version of one of the TensorFlow Tutorials available at:
#
# https://github.com/Hvass-Labs/TensorFlow-Tutorials
#
# Published under the MIT License. See the file LICENSE for details.
#
# Copyright 2018 by Magnus Erik Hvass Pedersen
#
########################################################################

import sys
import os
import urllib.request
import tarfile
import zipfile



def _print_download_progress(count, block_size, total_size):
    """
    Function used for printing the download progress.
    Used as a call-back function in maybe_download_and_extract().
    """

    # Percentage completion.
    pct_complete = float(count * block_size) / total_size

    # Limit it because rounding errors may cause it to exceed 100%.
    pct_complete = min(1.0, pct_complete)

    # Status-message. Note the \r which means the line should overwrite itself.
    msg = "\r- Download progress: {0:.1%}".format(pct_complete)

    # Print it.
    sys.stdout.write(msg)
    sys.stdout.flush()


def download(base_url, filename, download_dir):
    """
    Download the given file if it does not already exist in the download_dir.
    :param base_url: The internet URL without the filename.
    :param filename: The filename that will be added to the base_url.
    :param download_dir: Local directory for storing the file.
    """

    # Path for local file.
    save_path = os.path.join(download_dir, filename)

    # Check if the file already exists, otherwise we need to download it now.
    if not os.path.exists(save_path):
        # Check if the download directory exists, otherwise create it.
        if not os.path.exists(download_dir):
            os.makedirs(download_dir)

        print("Downloading", filename, "...")

        # Download the file from the internet.
        url = base_url + filename
        file_path, _ = urllib.request.urlretrieve(url=url,
                                                  filename=save_path,
                                                  reporthook=_print_download_progress)

        print(" Done!")


def download_and_extract(url, download_dir):
    """
    Download and extract the data if it doesn't already exist.
    Assumes the url is a tar-ball file.
    :param url:
        Internet URL for the tar-file to download.
    :param download_dir:
        Directory where the downloaded file is saved.
    """

    # Filename for saving the file downloaded from the internet.
    # Use the filename from the URL and add it to the download_dir.
    filename = url.split('/')[-1]
    file_path = os.path.join(download_dir, filename)

    # Check if the file already exists.
    # If it exists then we assume it has also been extracted,
    # otherwise we need to download and extract it now.
    if not os.path.exists(file_path):
        # Check if the download directory exists, otherwise create it.
        if not os.path.exists(download_dir):
            os.makedirs(download_dir)

        # Download the file from the internet.
        file_path, _ = urllib.request.urlretrieve(url=url,
                                                  filename=file_path,
                                                  reporthook=_print_download_progress)

        print()
        print("Download finished. Extracting files.")

        if file_path.endswith(".zip"):
            # Unpack the zip-file.
            zipfile.ZipFile(file=file_path, mode="r").extractall(download_dir)
        elif file_path.endswith((".tar.gz", ".tgz")):
            # Unpack the tar-ball.
            tarfile.open(name=file_path, mode="r:gz").extractall(download_dir)

        print("Done.")
    else:
        print("Data has apparently already been downloaded and unpacked.")

First, we define where we want to download the dataset (you are free to choose another directory) and the URL of the dataset to be downloaded.

In [12]:
# Location of the dataset on the internet.
data_url = "https://github.com/Hvass-Labs/weather-denmark/raw/master/weather-denmark.tar.gz"

# Local directory where you want to download and save the dataset.
data_dir = "weather-data/"

Now, we can download the dataset into the chosen local directory

In [13]:
download_and_extract(url=data_url, download_dir=data_dir)

Data has apparently already been downloaded and unpacked.

**[TO DO]:** Check the local folder? In which format the dataset has been downloaded?

**[TO DO]:** Select a format and load the dataset .

### TODO
Dataset has been downloaded in csv and pkl, here we can use either format in loading the dataset.

In [14]:
### TODO
df_csv = pd.read_csv('./weather-data/weather-denmark.csv')
#df_pkl = pd.read_pickle('./weather-data/weather-denmark.pkl')
df_csv

             City             DateTime  Temp  Pressure  WindSpeed  WindDir
0         Aalborg  1980-03-01 00:00:00   5.0    1008.1       11.3    290.0
1         Aalborg  1980-03-01 00:20:00   4.0       NaN        9.2    270.0
2         Aalborg  1980-03-01 00:50:00   4.0       NaN        9.2    280.0
3         Aalborg  1980-03-01 01:20:00   4.0       NaN        9.2    280.0
4         Aalborg  1980-03-01 01:50:00   4.0       NaN        8.7    270.0
...           ...                  ...   ...       ...        ...      ...
2918145  Roskilde  2018-03-01 22:20:00  -5.0       NaN        5.1     70.0
2918146  Roskilde  2018-03-01 22:50:00  -5.0       NaN        4.1     70.0
2918147  Roskilde  2018-03-01 23:00:00  -5.3    1018.6        4.1     60.0
2918148  Roskilde  2018-03-01 23:20:00  -5.0       NaN        3.6     60.0
2918149  Roskilde  2018-03-01 23:50:00  -5.0       NaN        3.6     60.0

[2918150 rows x 6 columns]

In [15]:
### TODO

**More advanced solution for loading dataset**:

In this case, the dataset was downloaded in two different formats. 
We can define the path where the files have been stored as follows:
- **path_original_data_pickle( )** is the location of the original data in pickle format
- **path_original_data_csv( )** is the location the original data in .csv

In [16]:
def path_original_data_pickle():
    return os.path.join(data_dir, "weather-denmark.pkl")

def path_original_data_csv():
    return os.path.join(data_dir, "weather-denmark.csv")

Now we can load the data in pickle format through the following function:

In [17]:
def load_original_data():
    return pd.read_pickle(path_original_data_pickle())
    #return pd.read_csv(path_original_data_csv())

In [18]:
df = load_original_data()
df

                              Temp  Pressure  WindSpeed  WindDir
City     DateTime
Aalborg  1980-03-01 00:00:00   5.0    1008.1       11.3    290.0
         1980-03-01 00:20:00   4.0       NaN        9.2    270.0
         1980-03-01 00:50:00   4.0       NaN        9.2    280.0
         1980-03-01 01:20:00   4.0       NaN        9.2    280.0
         1980-03-01 01:50:00   4.0       NaN        8.7    270.0
...                            ...       ...        ...      ...
Roskilde 2018-03-01 22:20:00  -5.0       NaN        5.1     70.0
         2018-03-01 22:50:00  -5.0       NaN        4.1     70.0
         2018-03-01 23:00:00  -5.3    1018.6        4.1     60.0
         2018-03-01 23:20:00  -5.0       NaN        3.6     60.0
         2018-03-01 23:50:00  -5.0       NaN        3.6     60.0

[2918150 rows x 4 columns]

### - Undestanding the data

**_[TO DO]_**: Have a quick overview of the downloaded dataset. 
In particular, focus on:

- Understanding the variables contained in the dataframe
- Check the DateTime for 2 cities

In [19]:
### TODO

df.head()

                             Temp  Pressure  WindSpeed  WindDir
City    DateTime
Aalborg 1980-03-01 00:00:00   5.0    1008.1       11.3    290.0
        1980-03-01 00:20:00   4.0       NaN        9.2    270.0
        1980-03-01 00:50:00   4.0       NaN        9.2    280.0
        1980-03-01 01:20:00   4.0       NaN        9.2    280.0
        1980-03-01 01:50:00   4.0       NaN        8.7    270.0

In [20]:
df.dtypes

Temp         float64
Pressure     float64
WindSpeed    float64
WindDir      float64
dtype: object

In [21]:
print(df.columns)
print(df.index)

Index(['Temp', 'Pressure', 'WindSpeed', 'WindDir'], dtype='object')
MultiIndex([( 'Aalborg', '1980-03-01 00:00:00'),
            ( 'Aalborg', '1980-03-01 00:20:00'),
            ( 'Aalborg', '1980-03-01 00:50:00'),
            ( 'Aalborg', '1980-03-01 01:20:00'),
            ( 'Aalborg', '1980-03-01 01:50:00'),
            ( 'Aalborg', '1980-03-01 02:20:00'),
            ( 'Aalborg', '1980-03-01 03:00:00'),
            ( 'Aalborg', '1980-03-01 03:20:00'),
            ( 'Aalborg', '1980-03-01 04:00:00'),
            ( 'Aalborg', '1980-03-01 04:01:00'),
            ...
            ('Roskilde', '2018-03-01 20:50:00'),
            ('Roskilde', '2018-03-01 21:00:00'),
            ('Roskilde', '2018-03-01 21:20:00'),
            ('Roskilde', '2018-03-01 21:50:00'),
            ('Roskilde', '2018-03-01 22:00:00'),
            ('Roskilde', '2018-03-01 22:20:00'),
            ('Roskilde', '2018-03-01 22:50:00'),
            ('Roskilde', '2018-03-01 23:00:00'),
            ('Roskilde', '2018-03-01 23:20:00'),
            ('Roskilde', '2018-03-01 23:50:00')],
           names=['City', 'DateTime'], length=2918150)

Here we can see that via pickle format that the dataframe is indexed on cities not on ordinal numbers like in csv formats. It is also evident that the other columns utilize the float datatype. As requested, we shall see the DateTime for two cities, Aalborg and Roskilde.

In [22]:
df.xs('Aalborg').index

DatetimeIndex(['1980-03-01 00:00:00', '1980-03-01 00:20:00',
               '1980-03-01 00:50:00', '1980-03-01 01:20:00',
               '1980-03-01 01:50:00', '1980-03-01 02:20:00',
               '1980-03-01 03:00:00', '1980-03-01 03:20:00',
               '1980-03-01 04:00:00', '1980-03-01 04:01:00',
               ...
               '2018-03-01 21:20:00', '2018-03-01 21:50:00',
               '2018-03-01 22:00:00', '2018-03-01 22:20:00',
               '2018-03-01 22:30:00', '2018-03-01 22:50:00',
               '2018-03-01 23:00:00', '2018-03-01 23:04:00',
               '2018-03-01 23:21:00', '2018-03-01 23:50:00'],
              dtype='datetime64[ns]', name='DateTime', length=759897, freq=None)

In [23]:
df.xs('Roskilde').index

DatetimeIndex(['1980-03-01 10:50:00', '1980-03-01 12:50:00',
               '1980-03-01 13:50:00', '1980-03-01 15:50:00',
               '1980-03-01 16:50:00', '1980-03-02 04:50:00',
               '1980-03-02 06:50:00', '1980-03-02 07:50:00',
               '1980-03-02 09:50:00', '1980-03-02 10:50:00',
               ...
               '2018-03-01 20:50:00', '2018-03-01 21:00:00',
               '2018-03-01 21:20:00', '2018-03-01 21:50:00',
               '2018-03-01 22:00:00', '2018-03-01 22:20:00',
               '2018-03-01 22:50:00', '2018-03-01 23:00:00',
               '2018-03-01 23:20:00', '2018-03-01 23:50:00'],
              dtype='datetime64[ns]', name='DateTime', length=569852, freq=None)

## 2.2 - Interacting with a server to query a subset of some data bank

We will now learn how to query a data bank to retrieve only the relevant proportion data for a task. We will be using the World Bank Data API to access World's renewable energy consumtpion data.

You first need to install the World Bank API. In a terminal, run the following command:

``>> pip install wbdata``

In [24]:
%pip install wbdata

Requirement already satisfied: wbdata in c:\software\anaconda\lib\site-packages (0.3.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: decorator>=4.0 in c:\software\anaconda\lib\site-packages (from wbdata) (5.0.6)
Requirement already satisfied: requests>=2.0 in c:\software\anaconda\lib\site-packages (from wbdata) (2.25.1)
Requirement already satisfied: appdirs<2.0,>=1.4 in c:\software\anaconda\lib\site-packages (from wbdata) (1.4.4)
Requirement already satisfied: tabulate>=0.8.5 in c:\software\anaconda\lib\site-packages (from wbdata) (0.8.9)
Requirement already satisfied: idna<3,>=2.5 in c:\software\anaconda\lib\site-packages (from requests>=2.0->wbdata) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\software\anaconda\lib\site-packages (from requests>=2.0->wbdata) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\software\anaconda\lib\site-packages (from requests>=2.0->wbdata) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\software\anaconda\lib\site-packages (from requests>=2.0->wbdata) (2020.12.5)

In [25]:
#@title Imports
import wbdata as wb
import datetime

### - Query the World Bank

* **_[TO DO]_**: Use the wbdata to retrieve renewable energy consumption data of all countries in 2015.

Hint: [wbdata documentation](https://wbdata.readthedocs.io/en/stable/)

## TODO Solution

First we shall analyse the provided data from World Bank. Here we can use get_source to obtain the whole list and find the energy consumption data.

In [26]:
wb.get_source()

  id  name
----  --------------------------------------------------------------------
   1  Doing Business
   2  World Development Indicators
   3  Worldwide Governance Indicators
   5  Subnational Malnutrition Database
   6  International Debt Statistics
  11  Africa Development Indicators
  12  Education Statistics
  13  Enterprise Surveys
  14  Gender Statistics
  15  Global Economic Monitor
  16  Health Nutrition and Population Statistics
  18  IDA Results Measurement System
  19  Millennium Development Goals
  20  Quarterly Public Sector Debt
  22  Quarterly External Debt Statistics SDDS
  23  Quarterly External Debt Statistics GDDS
  24  Poverty and Equity
  25  Jobs
  27  Global Economic Prospects
  28  Global Financial Inclusion
  29  The Atlas of Social Protection: Indicators of Resilience and Equity
  30  Exporter Dynamics Database â Indicators at Country-Year Level
  31  Country Policy and Institutional Assessment
  32  Global Financial Development
  33  G20 Financial Inclusion Indicators
  34  Global Partnership for Education
  35  Sustainable Energy for All
  36  Statistical Capacity Indicators
  37  LAC Equity Lab
  38  Subnational Poverty
  39  Health Nutrition and Population Statistics by Wealth Quintile
  40  Population estimates and projections
  41  Country Partnership Strategy for India (FY2013 - 17)
  43  Adjusted Net Savings
  45  Indonesia Database for Policy and Economic Research
  46  Sustainable Development Goals
  50  Subnational Population
  54  Joint External Debt Hub
  57  WDI Database Archives
  58  Universal Health Coverage
  59  Wealth Accounts
  60  Economic Fitness
  61  PPPs Regulatory Quality
  62  International Comparison Program (ICP) 2011
  63  Human Capital Index
  64  Worldwide Bureaucracy Indicators
  65  Health Equity and Financial Protection Indicators
  66  Logistics Performance Index
  67  PEFA 2011
  68  PEFA 2016
  69  Global Financial Inclusion and Consumer Protection Survey
  70  Economic Fitness 2
  71  International Comparison Program (ICP) 2005
  73  Global Financial Inclusion and Consumer Protection Survey (Internal)
  75  Environment, Social and Governance (ESG) Data
  76  Remittance Prices Worldwide (Sending Countries)
  77  Remittance Prices Worldwide (Receiving Countries)
  78  ICP 2017
  79  PEFA_GRPFM
  80  Gender Disaggregated Labor Database (GDLD)
  81  International Debt Statistics: DSSI
  82  Global Public Procurement
  83  Statistical Performance Indicators (SPI)
  84  Education Policy
  85  PEFA_2021_SNG
  86  Global Jobs Indicators Database (JOIN)
  87  Country Climate and Development Report (CCDR)

In [27]:
wb.get_indicator(source=35)

id                              name
------------------------------  --------------------------------------------------------------------------
1.1_ACCESS.ELECTRICITY.TOT      Access to electricity (% of total population)
1.1_TOTAL.FINAL.ENERGY.CONSUM   Total final energy consumption (TFEC)
1.2_ACCESS.ELECTRICITY.RURAL    Access to electricity (% of rural population)
1.3_ACCESS.ELECTRICITY.URBAN    Access to electricity (% of urban population)
2.1_ACCESS.CFT.TOT              Access to Clean Fuels and Technologies for cooking (% of total population)
2.1_SHARE.TOTAL.RE.IN.TFEC      Renewable energy consumption(% in TFEC)
3.1_RE.CONSUMPTION              Renewable energy consumption (TJ)
4.1.1_TOTAL.ELECTRICITY.OUTPUT  Total electricity output (GWh)
4.1.2_REN.ELECTRICITY.OUTPUT    Renewable energy electricity output (GWh)
4.1_SHARE.RE.IN.ELECTRICITY     Renewable electricity (% in total electricity output)
6.1_PRIMARY.ENERGY.INTENSITY    Energy intensity level of primary energy (MJ/$2005 PPP)

The desired dataset lies in the WB dataset with id 3.1_RE.CONSUMPTION, so we can call this id for our use case. Furthermore, from documentation, we can set the time range to our target timeframe. In addition, we could also search for the indicator to avoid manual searching as seen below.

In [28]:
wb.search_indicators("Renewable energy consumption")

id                          name
--------------------------  ------------------------------------------------------------------
2.1_SHARE.TOTAL.RE.IN.TFEC  Renewable energy consumption(% in TFEC)
3.1_RE.CONSUMPTION          Renewable energy consumption (TJ)
EG.FEC.RNEW.ZS              Renewable energy consumption (% of total final energy consumption)

In [29]:
### TODO
# Selecting the time frame
import datetime

wb_energy=wb.get_dataframe({'3.1_RE.CONSUMPTION' : 'Renewable energy consumption (TJ)'}, data_date=(datetime.datetime(2015, 1, 1), datetime.datetime(2015, 12, 31)))

In [30]:
wb_energy

                            Renewable energy consumption (TJ)
country
BES Islands                                         112.78860
Nauru                                                 0.32988
Niue                                                 16.63123
Wallis and Futuna                                     0.00000
Caucasian and Central Asia                                NaN
...                                                       ...
West Bank and Gaza                                 6701.55000
Western Sahara                                        0.00000
Yemen, Rep.                                        2433.20100
Zambia                                           301679.80000
Zimbabwe                                         324422.60000

[259 rows x 1 columns]

### - Undestanding the data

* **_[TO DO]_**: Display different data points

In [31]:
### TODO
wb_energy.head(10)

                                    Renewable energy consumption (TJ)
country
BES Islands                                                 112.78860
Nauru                                                         0.32988
Niue                                                         16.63123
Wallis and Futuna                                             0.00000
Caucasian and Central Asia                                        NaN
Caucasus and Central Asia                                         NaN
Eastern Asia (including Japan)                                    NaN
Eastern Asia (not including Japan)                                NaN
Eastern Europe                                                    NaN
Europe                                                            NaN

In [32]:
wb_energy['Renewable energy consumption (TJ)'][:10]

country
BES Islands                           112.78860
Nauru                                   0.32988
Niue                                   16.63123
Wallis and Futuna                       0.00000
Caucasian and Central Asia                  NaN
Caucasus and Central Asia                   NaN
Eastern Asia (including Japan)              NaN
Eastern Asia (not including Japan)          NaN
Eastern Europe                              NaN
Europe                                      NaN
Name: Renewable energy consumption (TJ), dtype: float64

In [33]:
print(wb_energy.columns)
print(wb_energy.index)

Index(['Renewable energy consumption (TJ)'], dtype='object')
Index(['BES Islands', 'Nauru', 'Niue', 'Wallis and Futuna',
       'Caucasian and Central Asia', 'Caucasus and Central Asia',
       'Eastern Asia (including Japan)', 'Eastern Asia (not including Japan)',
       'Eastern Europe', 'Europe',
       ...
       'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Vietnam',
       'Virgin Islands (U.S.)', 'West Bank and Gaza', 'Western Sahara',
       'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=259)

In [34]:
wb_energy.dtypes

Renewable energy consumption (TJ)    float64
dtype: object

In [35]:
wb_energy.describe()

       Renewable energy consumption (TJ)
count                       2.330000e+02
mean                        2.645674e+05
std                         9.599198e+05
min                         0.000000e+00
25%                         8.336698e+02
50%                         3.155545e+04
75%                         1.283452e+05
max                         9.084482e+06

In [36]:
wb_energy.xs('Indonesia')

Renewable energy consumption (TJ)    2402254.0
Name: Indonesia, dtype: float64

After some quick analysis on the data, we see that the Renewable energy consumption (TJ) column is a float type value and also some insight regarding variance within the data.

### - Exporting the data 

* **_[TO DO]_**: Save the retrieved renewable energy consumption data of all countries in 2015 in one .xlsx file
* **_[TO DO]_**: Save the renewable energy consumption data from 2006 to 2016 for each European country in individual .csv files (one per country)

### TODO Solution

##### Convert to xlsx file for 2015 - All Countries

In [37]:
wb_energy_all=wb.get_dataframe({'3.1_RE.CONSUMPTION' : 'Renewable energy consumption (TJ)'}, 
                                   data_date=(datetime.datetime(2015, 1, 1), datetime.datetime(2015, 12, 31)))
wb_energy_all.to_excel('renewable_energy_cosumption_2015.xlsx')

##### Convert to csv file for 2006 ~ 2016 - EU Countries (1 file each)

Based on the link provided by https://datahelpdesk.worldbank.org/knowledgebase/articles/898590-country-api-queries, we can utilize the country information obtained for selecting EU countries with the below fields:
- 3 letter ISO 3166-1 alpha-3 code
- 2 letter ISO 3166-1 alpha-2 code
- Name
- Region: ID, name and World Bank 2 letter code
- Income Level: ID, name and World Bank 2 letter code
- Lending Type: ID, name and World Bank 2 letter code
- Capital City
- Longitude
- Latitude

We are interested in the continent/region for EU, which is specified. Here, European countries have a 'region' field of ECS which stands for Europe and Central Asia.

To start, we will get the full country data via the WB API, and specify that we want it in JSON with all the data present (seen by the 1000 per page parameter)

In [38]:
#import wbgapi as wbapi
#from countrygroups import EUROPEAN_UNION

#wbapi.economy.coder(["USA"])

import requests
import json

wb_countries = requests.get("http://api.worldbank.org/v2/country?format=json&source=6&per_page=1000").json()

Here countries are described in index 1, where we can see how each field is presented.

In [39]:
wb_countries[1][0]

{'id': 'ABW',
 'iso2Code': 'AW',
 'name': 'Aruba',
 'region': {'id': 'LCN',
  'iso2code': 'ZJ',
  'value': 'Latin America & Caribbean '},
 'adminregion': {'id': '', 'iso2code': '', 'value': ''},
 'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
 'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
 'capitalCity': 'Oranjestad',
 'longitude': '-70.0167',
 'latitude': '12.5167'}

In [40]:
len(wb_countries[1])

299

From here we can select countries in Europe, obtaining the code and country name in a dictionary.

In [48]:
european_countries = {i["id"]:i["name"] for i in wb_countries[1] if i["region"]["id"] == "ECS" }

print(european_countries)
print(len(european_countries))

{'ALB': 'Albania', 'AND': 'Andorra', 'ARM': 'Armenia', 'AUT': 'Austria', 'AZE': 'Azerbaijan', 'BEL': 'Belgium', 'BGR': 'Bulgaria', 'BIH': 'Bosnia and Herzegovina', 'BLR': 'Belarus', 'CHE': 'Switzerland', 'CHI': 'Channel Islands', 'CYP': 'Cyprus', 'CZE': 'Czech Republic', 'DEU': 'Germany', 'DNK': 'Denmark', 'ESP': 'Spain', 'EST': 'Estonia', 'FIN': 'Finland', 'FRA': 'France', 'FRO': 'Faroe Islands', 'GBR': 'United Kingdom', 'GEO': 'Georgia', 'GIB': 'Gibraltar', 'GRC': 'Greece', 'GRL': 'Greenland', 'HRV': 'Croatia', 'HUN': 'Hungary', 'IMN': 'Isle of Man', 'IRL': 'Ireland', 'ISL': 'Iceland', 'ITA': 'Italy', 'KAZ': 'Kazakhstan', 'KGZ': 'Kyrgyz Republic', 'LIE': 'Liechtenstein', 'LTU': 'Lithuania', 'LUX': 'Luxembourg', 'LVA': 'Latvia', 'MCO': 'Monaco', 'MDA': 'Moldova', 'MKD': 'North Macedonia', 'MNE': 'Montenegro', 'NLD': 'Netherlands', 'NOR': 'Norway', 'POL': 'Poland', 'PRT': 'Portugal', 'ROU': 'Romania', 'RUS': 'Russian Federation', 'SMR': 'San Marino', 'SRB': 'Serbia', 'SVK': 'Slovak Republic', 'SVN': 'Slovenia', 'SWE': 'Sweden', 'TJK': 'Tajikistan', 'TKM': 'Turkmenistan', 'TUR': 'Turkey', 'UKR': 'Ukraine', 'UZB': 'Uzbekistan', 'XKX': 'Kosovo'}
58

In [49]:
european_countries_ids = list(european_countries.keys())
print(european_countries_ids)
print(len(european_countries_ids))

['ALB', 'AND', 'ARM', 'AUT', 'AZE', 'BEL', 'BGR', 'BIH', 'BLR', 'CHE', 'CHI', 'CYP', 'CZE', 'DEU', 'DNK', 'ESP', 'EST', 'FIN', 'FRA', 'FRO', 'GBR', 'GEO', 'GIB', 'GRC', 'GRL', 'HRV', 'HUN', 'IMN', 'IRL', 'ISL', 'ITA', 'KAZ', 'KGZ', 'LIE', 'LTU', 'LUX', 'LVA', 'MCO', 'MDA', 'MKD', 'MNE', 'NLD', 'NOR', 'POL', 'PRT', 'ROU', 'RUS', 'SMR', 'SRB', 'SVK', 'SVN', 'SWE', 'TJK', 'TKM', 'TUR', 'UKR', 'UZB', 'XKX']
58

Finally, we can proceed to convert all European country data into individual files by looping through our dictionary.

In [43]:
for eu_id in european_countries_ids:
    eu_country_energy = wb.get_dataframe({'3.1_RE.CONSUMPTION' : 'Renewable energy consumption (TJ)'}, 
                                   data_date=(datetime.datetime(2006, 1, 1), datetime.datetime(2016, 12, 31)), 
                                   country=eu_id)
    eu_country_energy.to_csv(european_countries[eu_id] + '_2006_2016.csv')
    print("Current saving %s",eu_id)

Current saving %s ALB
Current saving %s AND
Current saving %s ARM
Current saving %s AUT
Current saving %s AZE
Current saving %s BEL
Current saving %s BGR
Current saving %s BIH
Current saving %s BLR
Current saving %s CHE
Current saving %s CHI
Current saving %s CYP
Current saving %s CZE
Current saving %s DEU
Current saving %s DNK
Current saving %s ESP
Current saving %s EST
Current saving %s FIN
Current saving %s FRA
Current saving %s FRO
Current saving %s GBR
Current saving %s GEO
Current saving %s GIB
Current saving %s GRC
Current saving %s GRL
Current saving %s HRV
Current saving %s HUN
Current saving %s IMN
Current saving %s IRL
Current saving %s ISL
Current saving %s ITA
Current saving %s KAZ
Current saving %s KGZ
Current saving %s LIE
Current saving %s LTU
Current saving %s LUX
Current saving %s LVA
Current saving %s MCO
Current saving %s MDA
Current saving %s MKD
Current saving %s MNE
Current saving %s NLD
Current saving %s NOR
Current saving %s POL
Current saving %s PRT
Current saving %s ROU
Current saving %s RUS
Current saving %s SMR
Current saving %s SRB
Current saving %s SVK
Current saving %s SVN
Current saving %s SWE
Current saving %s TJK
Current saving %s TKM
Current saving %s TUR
Current saving %s UKR
Current saving %s UZB
Current saving %s XKX